<div class="content span24 browser">
	<table cellspacing="0" cellpadding="0" class="tree-browser">
        <tbody>
        	<tr class="header">
		          <th></th>
		          <th>name</th>
		          <th>age</th>
		          <th>message</th>
        	</tr>
        	{% for folder in FilesCollection.directories %}
        	<tr>
        		<td class="icon">
        			<img src="https://a248.e.akamai.net/assets.github.com/images/icons/dir.png" alt="directory" />
        		</td>
        		<td class="content">
        			<a href="{{ path('gitweb_repository_default_show_tree', {
        				"username": repository.user.username,
        				"repository_name": repository.name,
        				"tree": tree|convert_for_url ~ folder
        			}) }}">
        				{{ folder }}
        			</a>
        		</td>
        		<td class="age">
        				{{ folder.getLastLog ? folder.getLastLog.relativeDate : "" }}
        		</td>
        		<td class="message">
        			{{ folder.getLastLog ? folder.getLastLog.message : "" }} [<a>{{ folder.getLastLog ? folder.getLastLog.authorName : "" }}</a>]
        		</td>
        	</tr>
        	{% endfor %}
        	
        	{% for file in FilesCollection.files %}
        	<tr>
        		<td class="icon">
        			<img src="https://a248.e.akamai.net/assets.github.com/images/icons/txt.png" alt="file" />
        		</td>
        		<td class="content">
        			<a href="#">
        				<a href="{{ path('gitweb_repository_default_show_blob', {
	        				"username": repository.user.username,
	        				"repository_name": repository.name,
	        				"file": tree|convert_for_url ~ file
	        			}) }}">
        					{{ file }}
        				</a>
        			</a>
        		</td>
        		<td class="age">
        			{{ file.getLastLog ? file.getLastLog.relativeDate : "" }}
        		</td>
        		<td class="message">
        			{{ file.getLastLog ? file.getLastLog.message : "" }} [<a>{{ file.getLastLog ? file.getLastLog.authorName : "" }}</a>]
        		</td>
        	</tr>
        	{% endfor %}
		</tbody>
	</table>
</div>